version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=met-crafts-cad-stunning.trycloudflare.com
      - NODE_ENV=production
      - N8N_SECURE_COOKIE=false
      - WEBHOOK_URL=https://met-crafts-cad-stunning.trycloudflare.com
    volumes:
      - ./n8n_data:/home/node/.n8n
